.contenedor-brn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background-color: #222831;
}

.barra-links{
  margin: 0px 5px;
}

.active {
  color: #00ADB5;
  font-weight: bold;
}
a{
  color: #EEEEEE;
  font-size: 20px;
  text-decoration: none;
}